h1{
    color :red;
}
#heading2{
    color :blue;
}
.heading{
    color :green;
}
.para{
    border : 2px solid black;
    padding : 20px;
    text-align : center;
}
.navbar{
    border : 3px;
    border-style : solid;
    border-color : black;
    padding : 15px;
    background-color : lightcyan;
    text-align : center;
}
.navbar a{
    text-decoration : none;
    color : black;
    padding : 20px;
}
.navbar a:hover{
    background-color :blueviolet;
    color :white;
}
.card {
    border: 2px solid black ;
    width : 300px;
    text-align : center;
    margin-top: 20px;
    margin-left: 40px;

}
.card img{

    width :100%;
    text-align : center;
}