h1{
    color :red;
}
#heading2{
    color :blue;
}
.heading{
    color :green;
}
.para{
    border : 2px solid black;
    padding : 20px;
    text-align : center;
}
.navbar{
    border : 3px;
    border-style : solid;
    border-color : black;
    padding : 15px;
    background-color : lightgray;
    text-align: center;
}
.navbar a{
    text-decoration : none;
    color : black;
    padding : 10px;
}
.navbar a:hover{
    background-color:rgba(240, 248, 255, 0.461);
    color: white;
}